.header{
    display: flex;
    align-items: center;
}

.header p{
    margin-right: 10px;
}

.cellWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.fieldWrapper{
    margin-top: 5px;
}